{% extends 'base.html.twig' %}

{% block title %}Hello MissionController!{% endblock %}

{% block body %}

    <ul>
        {% for mission in missions %}
            <li>
                {{ mission.launchTime|date('d m Y') }}
                {{ mission.launcher.name }}
            </li>
        {% endfor %}
    </ul>

    <main>

    <h1 id="gros-titre">Prochains Vols</h1>

    <section>
        <table>

            <thead>
            <tr class="mention">
                <th colspan="1">Mission</th>
                <th colspan="1">Charge utile</th>
                <th colspan="1">Lanceurs</th>
                <th colspan="1">Missions du lanceur</th>
                <th colspan="1">Base de lancement</th>
                <th colspan="1">Date et Heure</th>
            </tr>
            </thead>

            <tbody>

            <tr class="profil-mention">
                <td>STS-45</td>
                <td>Charge 7</td>
                <td>Falcon 9 bc5</td>
                <td>2</td>
                <td>Couroux - Guyane</td>
                <td>06/09/2019 09h56</td>
            </tr>


            </tbody>
        </table>

    </section>

    </main>

{% endblock %}
