{% extends 'base.html.twig' %}

{% block title %}Hello LauncherController!{% endblock %}

{% block body %}
    <ul>
        {% for launcher in launchers %}
            <li>
                {{ launcher.name }}
                {{ launcher.type }}
                {{ launcher.constructor }}

            </li>
        {% endfor %}
    </ul>



{% endblock %}
