{% extends 'base.html.twig' %}

{% block title %}Hello LauncherController!{% endblock %}

{% block body %}
    <ul>
        {% for launcher in launchers %}
            <li>
                {{ launcher.name }}
                {{ launcher.type }}
                {{ launcher.constructor }}

            </li>
        {% endfor %}
    </ul>

    <main>

    <h1 id="gros-titre">Fusées</h1>

    <section>
        <table>

            <thead>
            <tr class="mention">
                <th colspan="1" id="hidden">Photo</th>
                <th colspan="1">Nom</th>
                <th colspan="1">Type de propulsion</th>
                <th colspan="1">Missions</th>
                <th colspan="1">Durée mission</th>
                <th colspan="1">Nationalité</th>
            </tr>
            </thead>

            <tbody>

            <tr class="profil-mention">
                <td><img src="images/Vol_1.png" class="profil"></td>
                <td>STS-45</td>
                <td>Moteur-Fusée</td>
                <td>Falcon 9 bc5</td>
                <td>120j</td>
                <td><img src="images/Flag_FR.png" class="country"></td>

            </tr>

            </tbody>

            <tbody>

            <tr class="profil-mention">
                <td><img src="images/Vol_2.png" class="profil"></td>
                <td>Soyouz</td>
                <td>Tuyère</td>
                <td>Falcon 7 bc5</td>
                <td>200j</td>
                <td><img src="images/Flag_FR.png" class="country"></td>
            </tr>

            </tbody>

            <tbody>

            <tr class="profil-mention">
                <td><img src="images/Vol_3.png" class="profil"></td>
                <td>Ariane</td>
                <td>Moteur-Fusée</td>
                <td>Falcon 10 bc5</td>
                <td>130j</td>
                <td><img src="images/Flag_FR.png" class="country"></td>
            </tr>

            </tbody>

        </table>

    </section>

    </main>

{% endblock %}
