{% extends 'base.html.twig' %}

{% block title %}Hello LauncherController!{% endblock %}

{% block body %}
<main>

    <h1 id="gros-titre">Fusées</h1>

    <section>
        <table>
            <thead>
            <tr class="mention">
                <th colspan="1" id="hidden">Photo</th>
                <th colspan="1">Nom</th>
                <th colspan="1">Type de propulsion</th>
                <th colspan="1">Constructor</th>
                <th colspan="1">Nationalité</th>
            </tr>
            </thead>

        {% for launcher in launchers %}
            <thead>
                <tr class="profil-mention">
                    <td><img src="{{ asset('images/Vol_1.png')}}"/></td>
                    <td>{{ launcher.name }}</td>
                    <td>{{ launcher.type }}</td>
                    <td>{{ launcher.constructor }}</td>
                    <td><img src="images/Flag_FR.png" class="country"></td>

                </tr>
            </thead>

        {% endfor %}






        </table>

    </section>

    </main>

{% endblock %}
