{% extends 'base.html.twig' %}

{% block title %}Hello LiveController!{% endblock %}

{% block body %}

    <main>

    <h1 id="gros-titre">Live View</h1>

    <section class="lecteur">

        <iframe width="951" height="535" src="https://www.youtube.com/embed/ddFvjfvPnqk" frameborder="20" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </section>

    </main>

{% endblock %}
