{% extends 'base.html.twig' %}

{% block title %}Hello LiveController!{% endblock %}

{% block body %}


<div class="live">
    <h1>Live from ISS ✅</h1>

    T<iframe width="1200" height="713" src="https://www.youtube.com/embed/4993sBLAzGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ul>
</div>
{% endblock %}
